This notebook cleans out duplicates, fixes numbers and consolidates a group of spreadsheets

### Combine Files into One CSV

In [2]:
# Libraries Needed
import numpy as np
import pandas as pd

In [3]:
# Get Source Data
# begin coding here ...

fileList = ["cr_reviewPageURLs_L.csv",
            "cr_reviewPageURLs_cBks.csv", 
            "cr_reviewPageURLs_dskTps.csv"]

In [17]:
# check we have the files in our directory   ## syntax is for mac
!ls -la *.csv

-rw-r--r--@ 1 mitchmac  staff  35185 Jul 26 23:23 cr_reviewPageURLs_L.csv
-rw-r--r--@ 1 mitchmac  staff  21462 Jul 26 23:36 cr_reviewPageURLs_cBks.csv
-rw-r--r--  1 mitchmac  staff  27948 Jul 26 23:48 cr_reviewPageURLs_dskTps.csv

In [5]:
def build_df_from_csvList(fileLst, drop_dupes = True):
    naList = ["", " ", "  ", "?"]
    df = pd.read_csv(fileLst[0], na_values=naList)
    print("initial df has ", len(df), " rows.")
    print("Combining These files:")
    print("\t", fileLst[0], sep="")
    for iFile in fileLst[1:]:
        if drop_dupes == True:
            print("\t", iFile, sep="")
            df = df.append(pd.read_csv(iFile, na_values=naList).drop_duplicates())
        else:
            print("\t", iFile, sep="")
            df = df.append(pd.read_csv(iFile, na_values=naList))
    print("df created with ", len(df), " rows.", sep="")
    return df.reset_index()
    # Frame = Frame.append(pandas.DataFrame(data = SomeNewLineOfData))

In [6]:
df = build_df_from_csvList(fileList)
# df.head()

initial df has  264  rows.
Combining These files:
	cr_reviewPageURLs_L.csv
	cr_reviewPageURLs_cBks.csv
	cr_reviewPageURLs_dskTps.csv
df created with 358 rows.

In [7]:
# fix price column
df['price'] = df['price'].replace(r'[\$\,]', r'', regex=True).astype(float, coerce=True)
df['url'] = df['url'].str.replace('/overview/', '/')
df.head()

,index,prod_class,brand,product_title,price,url
0,0,laptop,Acer,Aspire E5-574-53QS,390.0,http://www.consumerreports.org/products/laptop...
1,1,laptop,Acer,Aspire ES1-571-P1MG,315.0,http://www.consumerreports.org/products/laptop...
2,2,laptop,Acer,Aspire One Cloudbook AO1-131-C9PM,165.0,http://www.consumerreports.org/products/laptop...
3,3,laptop,Acer,Aspire R5-571T-57Z0,700.0,http://www.consumerreports.org/products/laptop...
4,4,laptop,Acer,Aspire R7-372T-54TM,900.0,http://www.consumerreports.org/products/laptop...

In [8]:
df['url'][10]  # spot check of one of the corrections

'http://www.consumerreports.org/products/laptop/apple-macbook-pro-15-inch-touch-bar-392574/'

### Write the Result to New File

In [9]:
df.to_csv('cr_reviewPageURLs_AllComputers.csv')

### Test DF Created
Testing of the DF and a few tests relating to the scrapy project follow ...

In [10]:
## testing ... code above builds what we are looking for ...
df.head()

,index,prod_class,brand,product_title,price,url
0,0,laptop,Acer,Aspire E5-574-53QS,390.0,http://www.consumerreports.org/products/laptop...
1,1,laptop,Acer,Aspire ES1-571-P1MG,315.0,http://www.consumerreports.org/products/laptop...
2,2,laptop,Acer,Aspire One Cloudbook AO1-131-C9PM,165.0,http://www.consumerreports.org/products/laptop...
3,3,laptop,Acer,Aspire R5-571T-57Z0,700.0,http://www.consumerreports.org/products/laptop...
4,4,laptop,Acer,Aspire R7-372T-54TM,900.0,http://www.consumerreports.org/products/laptop...

In [11]:
df.tail()

,index,prod_class,brand,product_title,price,url
353,59,desktop pcs,Lenovo,"Ideacentre AIO 300-23"" F0BY0041US",580.0,http://www.consumerreports.org/products/deskto...
354,60,desktop pcs,Lenovo,"Ideacentre AIO 700 24"" F0BE006SUS",900.0,http://www.consumerreports.org/products/deskto...
355,61,desktop pcs,Lenovo,Ideacentre AIO 700-27 F0BD002KUS,1400.0,http://www.consumerreports.org/products/deskto...
356,62,desktop pcs,Lenovo,Yoga Home 900,900.0,http://www.consumerreports.org/products/deskto...
357,63,desktop pcs,Samsung,All-In-One DP710A4M-L01US,1000.0,http://www.consumerreports.org/products/deskto...

In [12]:
len(df)

358

In [13]:
df.describe()

            index        price
count  358.000000   358.000000
mean   103.818436   792.887737
std     80.851962   473.106159
min      0.000000   100.000000
25%     29.250000   430.000000
50%     84.500000   749.985000
75%    173.750000  1037.500000
max    263.000000  2899.990000

In [14]:
df['prod_class'].value_counts()

laptop         264
desktop pcs     64
chromebook      30
Name: prod_class, dtype: int64

In [15]:
# tried list comp and it did not seem to work
tstLst = []
for index, row in df.iterrows():
    tstLst.append(row['url'] + "specs")
print(len(tstLst))
tstLst[0]

358

'http://www.consumerreports.org/products/laptop/acer-aspire-e5-574-53qs-385910/specs'